/* переключатор цвета header-main-white - делает шапку светлой. Добавлять к классу .header-main */
/*Ainmate*/
body {
 font-size: 100%; /* начните с гибкой исходной базы, более подробно об этом написано в следующем разделе */
}
 
h1 {
 font-size: 2.5em;
}
 
.video-container h1{
    font-weight: 500;
    color: #28244f;}
.video-container hr {
    width: 200px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 6px solid #28243f;
}
.header__menu-mobile{
	display: none;
	position: absolute;
	left: 0px;
    top: 0px;
    right: 0px;
    top: 54px;
    margin-right: 29px;   
    box-shadow: 0 0 10px rgba(0,0,0,0.5);     
}
#back-top a, .social__item svg, .grid li, .grid .particles, .header__menu ul li a, .header__logo,.header__logo img,.header__menu-triger{
	-webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

.content{
    position: relative;
}

.header-main{
	min-height: 50px;
	position: fixed;
	width: 100%;
	    -webkit-transition: all 400ms ease !important;
    -moz-transition: all 400ms ease !important;
    -o-transition: all 400ms ease !important;
    transition: all 400ms ease !important;
    z-index: 999999;
}
.header__container{
	padding: 0 30px;
	display: block;
	position: relative;
}
.header__logo{
	float: left;
	margin: 29px 0;
    height: 20px;
}
.header__logo img{
	max-height: 20px;
	max-width: none;
	width: auto;
	vertical-align: top;
}
.header__logo a{
	display: block;
    max-height: 20px;
}
.header__menu{
	float: right;
}
.header__menu ul {
margin-bottom: 0px;
padding-left: 0px;
float: right;
}

.header__menu ul li{
	list-style-type: none;
	display: inline-block;
	float: right;
}
.header__menu ul li a{
	font-size: 13px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	float: right;
	padding: 29px 20px;
	text-decoration: none;
	color: #444444;
}
.header__menu ul li a:hover{
	color: #999999!important;
}

.header__menu-triger{
	display: none;
    background: transparent;
    border: none;
    height: 32px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none!important;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	margin: 23px 0;
    color: #fff;
    z-index: 999;
    float: right;
    width: 40px !important;
    z-index: 500;
}
.header__menu-triger:after{
	content: '';
    position: absolute;
    width: 22px;
    height: 3px;
    background: #303030;
    top: 7px;
    left: 7%;
    box-shadow: 0 6px 0 #303030, 0 12px 0 #303030;
}





.white-logo{display: none;}
.black-logo{display: block;}
.header-main.header-main-white .white-logo{
	display: block;
}
.header-main.header-main-white .header__menu ul li a{
	color: #e0e0e0;
}
.header-main.header-main-white .header__menu ul li a:hover{
	color: #ffffff
}

.header-main.header-main-white .black-logo{
	display: none;
}

.header-main__scroll{
    background: black;
}
.header-main.header-main__scroll .header__logo .black-logo{
display: none;
}
.header-main.header-main__scroll .header__logo .white-logo{
display: block;
}
.header-main.header-main__scroll .header__logo{
margin: 19px 0;
}
.header-main.header-main__scroll .header__menu ul li a{
	padding: 19px 20px;
}
.header-main.header-main__scroll .header__menu a{
	color: #a8a8a8;
}

.header-main__scroll .header__menu-triger{
    background: transparent;
    border: none;
    width: auto;
    height: 32px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 13px 0;
    color: #fff;
    z-index: 999;
    float: right;
    width: 40px !important;
}
.header-main__scroll .header__menu-triger:after{
    background: #ffffff;
    box-shadow: 0 6px 0 #ffffff, 0 12px 0 #ffffff;
}

.header-main-white .header__menu-triger:after{
    background: #ffffff;
    box-shadow: 0 6px 0 #ffffff, 0 12px 0 #ffffff;
}

.header__menu-wrapper ul li:not(:last-child) a{
    border-bottom: 1px solid #ededed;
}

.header__menu-wrapper ul{
    background-color: rgba(255,255,255,1) !important;
}

.arrow-right {
    display: inline-block;
    float: right;
    font-size: 17px;
}
.header__menu-wrapper{
	float: right;
	margin-right: 14px;
}

.header__menu-mobile ul{
    padding-left: 0px;
    margin-bottom: 0px;
}
.header__menu-mobile ul li{
	width: 100%;
    list-style-type: none;
}
.header__menu-mobile ul li:hover{
    background-color: rgba(16,16,16,1) !important;

}
.header__menu-mobile ul li:hover a{
    color: #d8d8d8;
}

.header__menu-mobile ul li a{
    font-size: 13px;
    padding: 15px;
    display: inline-block;
    width: 100%;
    color: #333333;
    text-decoration: none;
}
    




.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}


.title-container {
    z-index: 1000;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.text-thin {
    font-weight: 100;
}
.text-white {
    color: #fff !important;
}

@keyframes bouncing{
  0%  { bottom: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5); }
  100% { bottom: 5px; box-shadow: 0 50px 50px rgba(0,0,0,0.1); }
}

.next-button:hover{

 animation: bouncing 0.5s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both paused; 
  }
.next-button { 
 animation: bouncing 0.5s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both; 
 font-size: 50px;
 color: #27233e;
  display: inline-block;
  background: transparent;
  border-radius: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.next-button-wrapper{
    position: relative;
    margin-top: 75px
}

.particles {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #030116;
    top: 0px;
    left: 0px;
  }
.hamepage-main{
    width: 100%;
    position: relative;
    height: 100vh;
}

      /* ------------------------------------ */

      canvas{
  display:block;
  vertical-align:bottom;
}

@keyframes bouncing{
100%{ top: 20px; }
 0%  { top: 0; }
}

.ball {
    animation: bouncing 0.5s 0s infinite alternate both;
    width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: #572e8e;

}
.ball:hover{
    animation: bouncing 0.5s 0s infinite alternate both paused;
    fill: #cc00ff;
}

.hamepage-main h1 { font-size: 3.5em;color: #572e8e }
.hamepage-main h2 {
  color: #572e8e;
  font-size: 2em;
}

.main-infograf__warpper{
margin: 100px 0;
}
.infograf__item path{
    fill: #27233e;
}
.infograf__item svg{
     font-size: 20px;
     height: 30px
}
.infograf__item-icon{
    text-align: center;
}
.infograf__item-title{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.infograf__item-text{
        font-size: 14px;
    text-align: center;
    margin-top: 13px;
   }





.project__title{
    color: white;
    z-index: 2;
}
.project__title-black{
    color: black!important;
}
.project__title h4 span{
    line-height: 1em;
    font-size: 32px;
    font-weight: 400;
}
.project__title h2 span{
    font-size: 40px;
    font-weight: 500;
}
.project__title h4 {
    margin-bottom: 30px;
}

.grid li:hover .project__title span{
    border:  solid white;
    border-width:0 0 2px;
    margin-top: -10px;
    cursor: pointer;
}
 .grid li:hover .project__title.project__title-black span{
    border:  solid black;
    border-width:0 0 2px;

}
.grid li{
    z-index: 0;
}
.grid .particles{
    opacity: 0;
    z-index: -1;
}
.grid li:hover .particles {
    background: rgba(3, 1, 22, 0.7)!important;
    opacity: 0.5!important;
} 


.grid li:hover {
    padding-top: 70px;
}


.page__topblock-wrapper{
    width: 100%;
    position: relative;
    min-height: 300px;
}
.page__topblock-wrapper .particles{
    z-index: -1;
}
.page__topblock-wrapper h1, .page__topblock-wrapper h2{
    color: white;
    }
.topblock-pagi{
    color: white;
    text-align: center;
    z-index: 2;
    margin-top: 34px;
}
.topblock-pagi span{
    margin: 0px 10px;
}
.topblock-pagi a{
    color: white;
    text-decoration: none;
}
.topblock-pagi a:hover{
    color: #999999;
}

.topblock__title{
    padding-top: 90px;
    text-align: center;
}
.text__block{
    margin-top: 40px;
}

.img-intext{
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__container{
    background-color: rgba(245,245,245,1);
    padding-top: 80px;
    padding-bottom: 80px;
}
.footer__text{
    color: black;
    text-align: center;
}
.footer__logo img{
    height: 70px;
    display: inline-block;
}
.footer__logo{
    margin-bottom: 20px;
}
.social__item{
display: inline-block;
    margin: 0px 6px;
}
.social__item svg{
    fill: #333333
}
.social__item:hover svg{
    fill: #d8d8d8;
}

#back-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99999;
    margin: 0;
    display: none;
}
#back-top a{
    height: 40px;
    display: block;
    width: 40px;
    border-radius: 100px;
    background: black;
    position: relative;
}
#back-top a:hover{
    background: rgba(0,0,0,0.25);
}

#back-top svg{
    height: 22px;
    width: auto;
    fill: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
