html{
    background: darkblue;
}
.text_block{
    font-size: 47px;
    color: black;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title{
    visibility: visible;
    animation-delay: 1s;
    animation-name: bounceInDown;
    cursor: default;
}
.wrapper{
    height: 100%;
    width: 100%;
}
.plash__outer{
    top: 52%;
    left: 56%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.plash{
    height: 100px;
    width: 600px;  
    background-color: aquamarine;    
    visibility: visible;
    animation-name: bounceInLeft;
}
.img{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.img1__outer{
    top: 44%;
    left: 79%;
    transform: translate(-50%,-50%);
    position: absolute;   
}
.img1 img{
    height: 500px;
    transform: rotate(45deg);
}
.img2__outer{
    top: 73%;
    left: 67%;
    transform: translate(-50%,-50%);
    position: absolute;   
}
.img2 img{
    height: 450px;
    transform: rotate(25deg);
}
.img3__outer{
    top: 67%;
    left: 30%;
    transform: translate(-50%,-50%);
    position: absolute;   
}
.img3 img{
    height: 450px;
    transform: rotate(-30deg);
}
.img4__outer{
    top: 31%;
    left: 53%;
    transform: translate(-50%,-50%);
    position: absolute;   
}
.img4 img{
    height: 450px;
    transform: rotate(-30deg);
}




.sign {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sign__word {
    color: #f7fbff;
    -webkit-animation: neon .08s ease-in-out infinite alternate;
            animation: neon .08s ease-in-out infinite alternate;
  }
  
  /*-- Animation Keyframes --*/
  @-webkit-keyframes neon {
    from {
      text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
      text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
    }
  }
  @keyframes neon {
    from {
      text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
      text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
    }
  }
  #preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #333 url('//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif') no-repeat center center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .item-1 {
    width: 100px;
    height: 100px;
    position: absolute;
    animation: right-1 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 100ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes right-1 {
    10% {
      transform: rotate(250deg) translate(0, 0px);
    }
    50%, 65% {
      transform: rotate(250deg) translateX(-100px);
    }
    100% {
      transform: rotate(250deg) translate(0, 0px);
    }
  }
  .item-1 > * {
    width: 20px;
    height: 20px;
    background: #F583A1;
    border-radius: 50%;
    background-color: #E8DDB5;
  }
  
  .item-2 {
    width: 100px;
    height: 100px;
    position: absolute;
    animation: right-2 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes right-2 {
    10% {
      transform: rotate(375deg) translate(0, 0px);
    }
    50%, 65% {
      transform: rotate(375deg) translateX(-100px);
    }
    100% {
      transform: rotate(375deg) translate(0, 0px);
    }
  }
  .item-2 > * {
    width: 20px;
    height: 20px;
    background: #F583A1;
    border-radius: 50%;
    background-color: #E8DDB5;
  }
  
  .item-3 {
    width: 100px;
    height: 100px;
    position: absolute;
    animation: right-3 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes right-3 {
    10% {
      transform: rotate(500deg) translate(0, 0px);
    }
    50%, 65% {
      transform: rotate(500deg) translateX(-100px);
    }
    100% {
      transform: rotate(500deg) translate(0, 0px);
    }
  }
  .item-3 > * {
    width: 20px;
    height: 20px;
    background: #F583A1;
    border-radius: 50%;
    background-color: #E8DDB5;
  }
  
  .item-4 {
    width: 100px;
    height: 100px;
    position: absolute;
    animation: right-4 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes right-4 {
    10% {
      transform: rotate(625deg) translate(0, 0px);
    }
    50%, 65% {
      transform: rotate(625deg) translateX(-100px);
    }
    100% {
      transform: rotate(625deg) translate(0, 0px);
    }
  }
  .item-4 > * {
    width: 20px;
    height: 20px;
    background: #F583A1;
    border-radius: 50%;
    background-color: #B2C9AB;
  }
  
  .item-5 {
    width: 100px;
    height: 100px;
    position: absolute;
    animation: right-5 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes right-5 {
    10% {
      transform: rotate(750deg) translate(0, 0px);
    }
    50%, 65% {
      transform: rotate(750deg) translateX(-100px);
    }
    100% {
      transform: rotate(750deg) translate(0, 0px);
    }
  }
  .item-5 > * {
    width: 20px;
    height: 20px;
    background: #F583A1;
    border-radius: 50%;
    background-color: #B2C9AB;
  }
  
  .item-6 {
    width: 100px;
    height: 100px;
    position: absolute;
    animation: right-6 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 600ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes right-6 {
    10% {
      transform: rotate(875deg) translate(0, 0px);
    }
    50%, 65% {
      transform: rotate(875deg) translateX(-100px);
    }
    100% {
      transform: rotate(875deg) translate(0, 0px);
    }
  }
  .item-6 > * {
    width: 20px;
    height: 20px;
    background: #F583A1;
    border-radius: 50%;
    background-color: #B2C9AB;
  }
  
  .item-7 {
    width: 100px;
    height: 100px;
    position: absolute;
    animation: right-7 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 700ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes right-7 {
    10% {
      transform: rotate(1000deg) translate(0, 0px);
    }
    50%, 65% {
      transform: rotate(1000deg) translateX(-100px);
    }
    100% {
      transform: rotate(1000deg) translate(0, 0px);
    }
  }
  .item-7 > * {
    width: 20px;
    height: 20px;
    background: #F583A1;
    border-radius: 50%;
    background-color: #92B6B1;
  }
  
  .item-8 {
    width: 100px;
    height: 100px;
    position: absolute;
    animation: right-8 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 800ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes right-8 {
    10% {
      transform: rotate(1125deg) translate(0, 0px);
    }
    50%, 65% {
      transform: rotate(1125deg) translateX(-100px);
    }
    100% {
      transform: rotate(1125deg) translate(0, 0px);
    }
  }
  .item-8 > * {
    width: 20px;
    height: 20px;
    background: #F583A1;
    border-radius: 50%;
    background-color: #92B6B1;
  }
  
  .item-9 {
    width: 100px;
    height: 100px;
    position: absolute;
    animation: right-9 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 900ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes right-9 {
    10% {
      transform: rotate(1250deg) translate(0, 0px);
    }
    50%, 65% {
      transform: rotate(1250deg) translateX(-100px);
    }
    100% {
      transform: rotate(1250deg) translate(0, 0px);
    }
  }
  .item-9 > * {
    width: 20px;
    height: 20px;
    background: #F583A1;
    border-radius: 50%;
    background-color: #92B6B1;
  }








